.button-luck {
    position       : absolute;
    margin-left    : 845px;
    margin-top     : -160px;
    background     : #ffcd1e;
    height         : 56px;
    width          : 156px;
    border-radius  : 8px;
    color          : #09090a;
    font-size      : 16px;
    font-weight    : bold;
    text-transform : uppercase;
    text-decoration: none;
}
.button-reset{
    position       : absolute;
    margin-left    : 1500px;
    margin-top     : -180px;
    background     : #ff1e1e;
    height         : 36px;
    width          : 156px;
    border-radius  : 8px;
    color          : #09090a;
    font-size      : 16px;
    font-weight    : bold;
    text-transform : uppercase;
    text-decoration: none;
}

.contanier-home {
    display        : flex;
    width          : 1350px;
    flex-direction : row;
    justify-content: space-between;
    margin-left: 50px;
}